body {
    margin: 0;
    display: grid;
    grid-template-areas: "header"
                         "items"
                         "items2"
                         "footer";
    grid-template-columns: 100%;
    grid-template-rows: 70px 120px minmax(0, 90%) 30px;
}

header {
    grid-area: header;
}

main {
    grid-area: items;
}

main > div {
    grid-area: items2;
}

#item_list {
    display: grid;
    grid-area: items;
    grid-template-areas: "items items";
    height: 80%;
    margin: 3% auto auto auto;
    overflow: scroll;
    overflow-x: hidden;
    width: 90%;
}

#item_list > p > img {
    margin-right: 2%;
    vertical-align: middle;
}

div > p {
    color: #FFFFFF;
    font-family: "et_bt11bregular", Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 5%;
}

footer {
    grid-area: footer;
}

@media screen and (max-width: 1800px) {

    #item_list {
        display: block;
    }

}

@media screen and (max-width: 425px) {

    main > h1 {
        font-size: 45px;
        margin-top: 8%;
    }

    div > p {
        font-size: 15px;
        margin-bottom: 10%;
    }

    #item_list {
        height: 95%;
    }

}

@media screen and (max-height: 958px) {


    body {
        grid-template-rows: 70px 120px minmax(60%, 90%) 15%;
    }
}