body {
    margin: 0;
    display: grid;
    grid-template-areas: "header"
                         "rules"
                         "footer";
    grid-template-columns: 100%;
    grid-template-rows: 70px 89% auto;
}

header {
    grid-area: header;
}

main {
    grid-area: rules;
}

main > div > p {
    color: #FFFFFF;
    font-family: "et_bt11bregular", Arial, sans-serif;
    font-size: 25px;
    margin: 1.5%;
}

#rule_line1 {
    align-items: center;
    display: flex;
    margin-bottom: 2%;
}

#spencer_mansion {
    border: 10px solid #999999;
    height: auto;
    margin-left: 3%;
    width: 600px;
}

#right_text {
    flex: 1 1;
}

#rule_line2 {
    align-items: center;
    display: flex;
}

#left_text {
    flex: 1 1;
    margin-left: 3%;
}

main > div > p > a {
    color: #FFFFFF;
    text-decoration: underline;
}

main > div > p > a:hover {
    cursor: pointer;
    color: #000000;
    text-decoration: underline;
}

#mr_x {
    border: 10px solid #999999;
    height: auto;
    margin-right: 3%;
    width: 600px;
}

@media screen and (max-width: 1920px) {
    #spencer_mansion {
        width: 500px;
    }

    #mr_x {
        width: 500px;
    }
}

@media screen and (max-width: 1180px) {

    main > div > p {
        font-size: 20px;
    }
}

@media screen and (max-height: 959px) {
    body {
        grid-template-rows: 70px auto 100px 30px;
    }
}

@media screen and (max-width: 960px) {

    #rule_line1 {
        display: block;
    }

    #spencer_mansion {
        border: none;
        margin: 0;
        width: 100%;
    }

    #right_text {
        margin: 5%;
        text-align: center;
    }

    #rule_line2 {
        display: block;
    }

    #left_text {
        margin: 5%;
        text-align: center;
    }

    #mr_x {
        border: none;
        margin: 0;
        width: 100%;
    }

}

@media screen and (max-width: 425px) {

    main > h1 {
        font-size: 45px;
    }

    main > div > p {
        font-size: 13px;
    }
}