body {
    margin: 0;
    display: grid;
    grid-template-areas: "header"
                         "commentaires"
                         "footer";
    grid-template-columns: 100%;
    grid-template-rows: 70px auto 30px;
}
header {
    grid-area: header;
}

main {
    grid-area: commentaires;
}

footer {
    grid-area: footer;
}