body {
    margin: 0;
    display: grid;
    grid-template-areas: "header"
                         "commentaires"
                         "footer";
    grid-template-columns: 100%;
    grid-template-rows: 70px auto 30px;
}
header {
    grid-area: header;
}

main {
    color: #FFFFFF;
    grid-area: commentaires;
    font-family: "et_bt11bregular", Arial, sans-serif;
    font-size: 30px;
}

footer {
    grid-area: footer;
}