body {
    display: grid;
    grid-template-areas: "header"
                         "commentaires"
                         "footer";
    grid-template-columns: 100%;
    grid-template-rows: 70px auto 30px;
    margin: 0;
}
header {
    grid-area: header;
}

main {
    color: #FFFFFF;
    display: block;
    font-family: "et_bt11bregular", Arial, sans-serif;
    font-size: 40px;
    grid-area: commentaires;
}

h1 {
    text-align: center;
}

form {
    margin: 8% auto;
    width: 75%;
}

form div + div {
    margin-top: 1em;
}

input, textarea {
    box-sizing: border-box;
    border: 6px solid #999999;
    font: 1em sans-serif;
    margin-top: 5px;
    width: 100%;
}

textarea {
    height: 5em;
    resize: none;
    vertical-align: top;
}

footer {
    grid-area: footer;
}