html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("../img/eye_background.png");
    background-size: cover;
    display: grid;
    grid-template-areas: "header header"
    "inventory item"
    "button_fight item"
    "footer footer";
    grid-template-columns: 68% 32%;
    grid-template-rows: 70px /*auto (je crois que c'est à cause du "auto" que mon bouton combattre embarque par-dessus mon inventaire)*/ 74% 100px auto;
    margin: 0;
}

nav {
    text-align: center;
}

nav > a {
    border: 1px solid #000000;
    border-radius: 2em;
    background-color: #000000;
    color: #FF0000;
    display: inline-block;
    font-size: 22px;
    font-family: "et_bt11bregular", Arial, sans-serif;
    height: 52px;
    line-height: 57px;
    margin-left: 20px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    width: 174px;
}

nav > a:hover {
    border: 1px solid #FF0000;
}

header {
    align-items: center;
    background: #008000;
    box-shadow: 0px 5px 3px #707070;
    display: flex;
    grid-area: header;
    justify-content: center;
}

header > nav {
    flex-grow: 1;
    margin-left: -204px;
}


#logo_button {
    height: 52px;
    margin: 15px;
    z-index: 5;
}

main {
    grid-area: inventory;
}

#inventory {
    left: 4%;
    position: relative;
    top: 6%;
}

#item {
    grid-area: item;
    margin-top: 8%;
}

#button_fight a {
    border: 5px solid #008000;
    border-radius: 0.5em;
    background-color: #008000;
    color: #000000;
    display: inline-block;
    font-family: "et_bt11bregular", Arial, sans-serif;
    font-size: 90px;
    grid-area: bouton_combattre;
    height: 90%;
    line-height: 100px;
    margin-left: 8%;
    text-align: center;
    text-decoration: none;
    width: 80%;
}

#button_fight a:hover {
    border: 5px solid #000000;
}


footer {
    align-items: flex-end;
    color: #FFFFFF;
    display: flex;
    font-size: large;
    font-family: "et_bt11bregular", Arial, sans-serif;
    grid-area: footer;
    justify-content: flex-end;
    margin: 6px;
}

@media screen and (max-width: 770px) {
    body {
        grid-template-areas: "header"
                             "inventory"
                             "button_fight"
                             "footer";
        grid-template-columns: auto;
        grid-template-rows: 70px 74% 100px auto;
    }

    header {
        background-color: #008000;
        justify-content: flex-start;
    }

    main {
        grid-area: inventory;
    }

    #inventory {
        height: 85%;
        left: 0%;
        top: 10%;
        width: 100%;
    }

    #logo_button {
        display: none;
    }

    nav {
        display: none;
    }


    #item {
        display: none;
    }



    .container {
        display: inline-block;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 25%;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    #button_fight a {
        border-radius: 1.5em;
        font-size: 59px;
        height: 90%;
    }

    footer {
        font-size: 10px;
        justify-content: center;

    }



}


