html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    display: grid;
    grid-template-areas: "header header"
                         "inventory item"
                         "bouton_combattre item"
                         "footer footer";
    grid-template-columns: 65% 35%;
    grid-template-rows: 70px auto 100px 20px;
}
nav {
    text-align: center;
}

nav > a {
    border: 1px solid #000000;
    border-radius: 2em;
    background-color: #000000;
    box-sizing: border-box;
    color: #FF0000;
    display: inline-block;
    font-size: x-large;
    height: 52px;
    line-height: 50px;
    margin-left: 20px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    width: 174px;
}

header {
    align-items: center;
    background: #008000;
    display: flex;
    grid-area: header;
    justify-content: center;
}

header > nav {
    flex-grow: 1;
    margin-left: -204px;
}

#bouton_logo {
    margin: 15px;
    height: 52px;
}


main {
    grid-area: inventory;
    background: aquamarine;
}

#item {
    grid-area: item;
    background: darkgreen;
}

#bouton_combattre {
    grid-area: bouton_combattre;
    background: darkred;
}

footer {
    grid-area: footer;
    background: darkmagenta;
}



