body {
    margin: 0;
    display: grid;
    grid-template-areas: "header"
                         "rules"
                         "footer";
    grid-template-columns: 100%;
    grid-template-rows: 70px 89% auto;
}

header {
    grid-area: header;
}

main {
    grid-area: rules;
}

.reglement {
    display: flex;
    align-items: center;
}

main > h1  {
    color: #FFFFFF;
    font-family: "et_bt11bregular", Arial, sans-serif;
    font-size: 60px;
    margin-bottom: 4%;
    text-align: center;
}

main > div > p {
    color: #FFFFFF;
    font-family: "et_bt11bregular", Arial, sans-serif;
    font-size: 25px;
    flex: 1 1;
    margin: 1.5%;
}

#spencer_mansion {
    border: 10px solid #999999;
    height: auto;
    margin-left: 3%;
    width: 600px;
}



@media screen and (max-width: 1920px) {
    #spencer_mansion {
        width: 500px;
    }
}