body {
    display: grid;
    grid-template-areas: "header"
                         "commentaires"
                         "footer";
    grid-template-columns: 100%;
    grid-template-rows: 70px auto 30px;
    margin: 0;
}
header {
    grid-area: header;
}

main {
    color: #FFFFFF;
    display: block;
    font-family: "et_bt11bregular", Arial, sans-serif;
    font-size: 30px;
    grid-area: commentaires;
}

h1 {
    text-align: center;
}

main > p {
    font-size: 25px;
    margin-top: 4%;
    text-align: center;
}

form {
    margin: 4% auto;
    width: 75%;
}

form div + div {
    margin-top: 1em;
}

input, textarea {
    box-sizing: border-box;
    border: 6px solid #999999;
    font: 60% sans-serif;
    margin-top: 5px;
    width: 100%;
}

textarea {
    height: 5em;
    resize: none;
    vertical-align: top;
}

.button {
    background-color: #017f00;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "et_bt11bregular", Arial, sans-serif;
    font-size: 25px;
    margin-left: 47%;
    padding: 15px 25px;
}

.button:hover {
    border: 5px solid #000000;
}